#container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  height: 300px;
  color: white;
}
.common {
  border-radius: 50%;
  margin: 20px;
  width: 200px;
  height: 200px;
}
#container div:nth-child(1) {
  background-color: coral;
}
#container div:nth-child(2) {
  background-color: rgb(58, 211, 172);
}
#container div:nth-child(3) {
  background-color: rgb(184, 53, 177);
}
p {
  text-align: center;
  font-size: 50px;
}
h1 {
  text-align: center;
  color: #ee366a;
  font-size: 80px;
}
